body {
  padding-top: 10vh;
}

.back-btn {
  float: left;
  margin-left: 5vw;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--main-color);
  display: inline-flex;
  align-items: center;
}

.back-btn i {
  color: var(--main-color);
  margin-right: 5px;
}

.project-info {
  width: 90vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.project-about {
  display: flex;
  flex-direction: column;
  max-width: 40vw;
}

.project-about .heading {
  font-size: 1.8rem;
  padding: 5px 30px;
  border-bottom: 3px solid var(--text-color);
  width: max-content;
}

.languages {
  display: flex;
}

.languages .language {
  padding: 2px 15px;
  margin: 15px 5px;
  border-radius: 10px;
  background-color: var(--main-color);
}

.desc p {
  text-align: justify;
  font-weight: 400;
}

.desc ol {
  text-align: left;
  margin-top: 15px;
}
.desc ol li {
  font-weight: 400;
}

.links a {
  padding: 10px 30px;
  background-color: var(--main-color);
  margin: 30px 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.links a i {
  margin-right: 10px;
}

.project-img {
  width: 40vw;
  height: 40vw;
  overflow: hidden;
  border: 3px solid var(--main-color);
}
.project-img img {
  height: 100%;
  min-width: 100%;
}

@media (max-width: 760px) {
  body {
    padding-top: 2vh;
  }

  .project-info {
    flex-direction: column-reverse;
    margin: auto;
  }

  .project-about {
    max-width: 90vw;
  }

  .project-img {
    width: 70vw;
    height: 70vw;
    margin-bottom: 5vh;
  }
}
